.container {
    margin: 0 auto;
    max-width: 70vw;
    padding: 2rem 2rem 2rem;

    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // align-content: center;
    // align-self: center;
}

.content {
    flex-grow: 1;
}