.intro {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}

@media only screen and (max-width: 1000px){
    .wrapper {
        margin: 0 auto;
    }

    .wrap {
        flex-wrap: wrap;
    }
}

.wrap {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;

}

.tekst {
    display: flex;
    flex-direction: column;
    p {
        word-wrap: break-word;
        color: #666666;
        font-size: x-large;

        strong {
            color: black;
        }
    }
}
// img {
//     float: left;
//     display: block;
// }

// @media only screen and (min-width: 1000px) {
//     img {
//         float: left;
//     }
//   }

.nav-list {
    display: flex;
    padding-top: 0.7rem;
    justify-content: center;
    // flex-wrap: wrap;
    list-style-type: none;
}


.nav-item {
    color: #BE3737;
    font-size: 1.2rem;

    margin-right: 1.2rem;
    text-decoration: none;
    // flex-wrap: wrap;
    font-weight: bold
}

.nav-item:hover {
    color: rgb(255, 25, 0)
}

.highlight-link {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -3px 0 #ac3232;
    box-shadow: inset 0 -3px 0 #ac3232
}

.highlight-link:hover {
    -webkit-box-shadow: inset 0 -33px 0 0 #ac3232;
    box-shadow: inset 0 -33px 0 0 #ac3232;
    color: #fff
}