.galeria {
    //margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    max-width: 100vw;
}

.images {
    transition: 1s ease;
    .image {
        margin: 1.2rem;

    }
    @media only screen and (max-width: 900px) {
        .image {
        max-width: 80vw;
        max-height: 20vh;
        }
      }
      @media (max-aspect-ratio: '3/4') {
        @media only screen and (min-height: 1000px) {
            .image {
            max-width: 80vw;
            max-height: 40vh;
            }
          }
      }
}

.images:hover {
    -webkit-filter: blur(2px);
    transition: 1s ease;
    padding: 1rem;
}

.highlight-link {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -3px 0 #ac3232;
    box-shadow: inset 0 -3px 0 #ac3232
}

.highlight-link:hover {
    -webkit-box-shadow: inset 0 -33px 0 0 #ac3232;
    box-shadow: inset 0 -33px 0 0 #ac3232;
    color: #fff
}